.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.spaceAround {
  justify-content: space-around;
}

.spaceBetween {
  justify-content: space-between;
}

.width200 {
  width: 200px;
}

.wrap {
  flex-wrap: wrap;
}

.textCenter {
  text-align: center;
}

.center {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.noDecoration {
  text-decoration: none;
}

.darkColor {
  color: black
}

.padding5 {
  padding: 5px;
}

.marginBottom {
  margin-bottom: 15px;
}